
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head>
    <meta charset="utf-8">
    <title>Login Form Tutorial</title>
    <link href="/style/styles.css" rel="stylesheet" type="text/css">
    <script>
        $(document).ready(function(){
            $('#td_startHour').remove();
            $('#td_endHour').remove();
        });
    </script>
</head>

<body>
    <header>
        <%- include ("../partials/header") %>
    </header>

    <div class="spacer">
        <div class="booking-top-tr">
            <h1>Create an event booking</h1>
            <p>Fill in the information below to proceed</p>
        </div>
    </div>

    <div class="searchbar">
        <div class="booking-top-tr">
            <%- include ("../partials/dateAndTimeSearchBar") %>
        </div>
    </div>

    <div class="booking-img-text"><%= roomName %></div>
    <div class="booking-img-wrapper">
        <img class="booking-img">
    </div>

    <div class="room-details">
        <form action="" method="POST">
            <div class="flex-roomdetails">
                <div class="booking-sub-container room-input" style="width: 100%;">
                    <span>Event Booking Information</span>
                    <label for="organization">Organization name</label>
                    <input type="text" name="organization" placeholder="RGU" required>
                    <label for="ta_reason">Event booking justification</label>
                    <textarea class="booking-textarea" name="reason" id="ta_reason" rows="10" placeholder="Event name&#10;Event Description&#10;Organization details(phone number/email)" required></textarea>
                </div>
                <div class="booking-sub-container" style="margin-left: 5px;">
                    <label>Amenities:</label>
                    <ul>
                        <%for(var i = 0; i < data.length; i++){ %>
                            <li> <%= data[i].feature_desc %> </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <input type="submit" class="book-button" value="Book" style="width: 100%;">
        </form>
    </div>

    <footer>
        <%- include ("../partials/footer") %>
    </footer>
</body>
